/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Personnalisé ******/

.header-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 22px 22px 22px 0;
    
}

.logo>img {
    width:8vw; 
    height: auto;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.header-links>a {
    margin-right: 12%;
    position: relative;
    transition: .3s;
}

.header-links>a:hover 
{
    color: var(--main-color);
}

.header-links>a:before
{
    content: "";
    position: absolute;
    inset: auto 0 calc(100% + 10px) 0; 
    background: var(--main-color); 
    height: 2px;
    scale: 0 1;
    transition: .3s, translate 0s .3s;
  }

.header-links:hover>a:before {
  scale: 1;
}
.header-links>a:hover:before {
  translate: 0;
  transition: .3s;
}
.header-links:hover>a:has(~ a:hover):before {
  translate: 100% 0;
  transition: .2s .2s,scale 0s .4s;
}
.header-links:hover>a:hover ~ a:before {
  translate: -100% 0;
  transition: .2s .2s,scale 0s .4s;
}

.search-container {
    padding: 30px 30px 30px 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 20px 0;
    height: 60px;
}

.location {
    display: flex;
    align-items: center;
    width: 377px;
    height: 49px;
    gap: 24px;
    border: solid 2px #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.location-icon {
    background-color: #f5f5f5;
    border-radius: 15px 0 0 15px;
    padding: 18px;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 22px;
}

.search-button {
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 22px;
    height: 52px;
    border: none;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0 15px 0;
    width: 67%;
    height: 50px;
    gap: 15px;
}

.filter {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 4px 15px 4px 15px;
    gap: 10px;
    border: solid 3px #D9D9D9;
    border-radius: 50px;
    cursor: pointer;
}

.filter:hover {
    background-color: #e5f1ff;
    color: #007bff;
}

.info-text {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 45px 0 15px 0;
}

.info-text-container {
    border: solid 3px #D9D9D9;
    border-radius: 100%;
    padding: 4px;
    width: 20px;
}

.info-text-container>svg {
    width: 100%;
}






.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: transform 0.5s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.populaires-title,
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}

.hebergements h4 {
    margin: 4px;
}
.hebergements-container {
    display: flex;
    flex-wrap: wrap; 
    box-sizing: border-box;
    gap: 20px;
    padding: 20px 0;
    justify-content: space-between;
}

.hebergements-cards .card {
    padding-bottom: 8px;
}

.hebergements-cards img {
    width: 250px;
    height: 124px;
    border-radius: 20px 20px 0 0 ;
}

.info-card-container {
    padding-left: 15px;
}

.card-subtitle p {
    margin: 15px 0;
}

.show-more {
    margin-top: 20px;
}

.show-more-link {
    font-size: 18px;
    font-weight: bold;
    color: #000000; /* Couleur principale avec fallback */
    text-decoration: none;
    transition: color 0.2s;
    transition: transform 0.2s;
}

.show-more-link:hover {
    transform: scale(1.05);
    color: #004bb5; 
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-cards
.card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img{
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards
.card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title,
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-rating,
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/* ----- ACTIVITES ----- */


.activites {
    padding: 15px;
}

.activite-title {
    margin: 35px 0;
}

.activites-section {
    margin: 30px 0;
}

.activite-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.activite-card {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    display: flex;
}

.activite-card:hover {
    transform: scale(1.05);
}

.activite-card img {
    border-radius: 15px 15px 0 0;
    width: 297.5px;
    height: 439px;
    object-fit: cover;
}

/* -------- FOOTER ------ */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
}


.footer-links>ul {
    padding-left: 4px;
}

.footer-links>ul>li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    margin-top: 5px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}